@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    /* background: -webkit-linear-gradient(45deg, #1af525, #11d6dd); */
    background: -webkit-linear-gradient(45deg, #00ff55, #00ddff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    /* Adjust the font size as needed */
    font-weight: bold;
    justify-content: center;
  }